// colors
// $accentColor = #006eff
$accentColor = #006eff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile shell